/* Desktop Layout */
@media only screen and (min-width: 1024px) {
  .desktop-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
  }

  .header {
    margin: 2.5em 4em 3em 3em;
    height: 350px;
    width: 400px;
  }

  .header img {
    height: 10rem;
  }

  .container {
    flex-grow: 6;
    width: 65vw;
    margin-right: 3em;
  }
}

/* Tablet and Phone layout */
@media only screen and (max-width: 1023px) {
  #navbar {
    background-color: #fac832;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    position: relative;
  }
  body::before {
    height: 0px;
  }
}
