* {
  margin: 0;
  padding: 0;
}

#navbar {
height: 120px;
width: 100vw;
background: #4056A1;
color: #FFFFFF;
padding: 1.5em;

}

#navbar .nav-container {
display: flex;
flex-direction: row;
align-content: center;
justify-content: space-between;
align-items: center;

}

#navbar span {
  display: flex;
  font-family: 'Bungee', sans-serif; 
}

#navbar{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

#navbar .nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  

}

#navbar .nav-menu i {
  color:red;
  margin: 3px;
}