article.tweet {
  color: #545149;
  border: 0.15em solid  #545149 ;
  margin: 2em auto;
  display:flex;
  font-weight: 300;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  opacity: 98%;
}
  
article.tweet main {
  display:flex;
  align-content: center;
  font-size: 0.8em;
  font-weight: 300;
  width: 95%;
  margin: 0.2em auto;
  padding: 0.5em 1em 1.5em 1em;
  border-bottom: 0.15em solid  #545149 ;
  }

article.tweet header {
  display: flex;
  justify-content: space-between;
  margin: 10px 25px;
  padding: 5px;
}

article.tweet header .user-id {
  text-decoration: none;
  visibility: hidden;
  }

article.tweet footer {
  font-size: 0.6em;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 25px;
  padding: 5px;
}

article.tweet a {
  color: #4056A1;
  font-weight: 300;
  text-decoration: none;
  padding: 0 10px;
  opacity: 90%;
  
}

/* Hover States */

article.tweet:hover {
  box-shadow: 7px 7px #4056A1;;
  font-weight: 400;
  opacity: 100%;
  
  }

article.tweet:hover footer {
  
  font-weight: 400;
  opacity: 100%;
  
  }
  
article.tweet:hover footer {
  
  font-weight: 400;
  opacity: 100%;
  
  }

article.tweet:hover main {
  
  font-weight: 400;
  opacity: 100%;
  
  }
article.tweet:hover a {
  
  font-weight: 400;
  opacity: 100%;
  
  }
  
article.tweet:hover .user-id {
  visibility: visible;
  color: #4056A1;
  opacity:80%;
  cursor: pointer;
    
    }